<section class="vh-100 gradient-custom-2" *appHasRole="['Admin']">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom mt-4 mb-3">
          <div class="card-body p-4 text-white">
            <div class="rounded border overflow-hidden">
              <table class="table table-dark mb-0">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (user of users; track user.id){
                  <tr class="fw-normal">
                    <td class="align-middle">{{user.userName}}</td>
                    <td class="align-middle">{{user.name}}</td>
                    <td class="align-middle">{{user.email}}</td>
                    <td class="border-0 align-middle d-flex justify-content-end">
                      <button class="btn btn-outline-danger fa fa-trash" title="Delete" (click)="deleteUser(user.id)" style="margin-right: 10px;">
                      </button>
                      <button type="button" class="btn btn-outline-success fa fa-bell" title="Notify" (click)="openModal(template)"></button>
                      <ng-template #template>
                        <div class="modal-header">
                          <h4 class="modal-title pull-left">Send Notification</h4>
                          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                            <span aria-hidden="true" class="visually-hidden">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="notifyForm" (submit)="notifyForm.valid && notifyUser(user.id)">
                            <input [formControl]="message" class="form-control mb-2" type="text">
                            <div class="d-flex justify-content-end">
                              <button class="btn btn-outline-success" title="Notify" type="submit">Send
                              </button>
                            </div>
                          </form>
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
