/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  overflow:auto;
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  background-size: 600% 600%;
  animation: lightBlueGradientBackground 10s ease infinite;
}

@keyframes lightBlueGradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
