<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="projectForm" (submit)="projectForm.valid && addProject()">
        <h2 class="text-uppercase text-center text-light mb-4" style="margin-top: 100px;">Create Project</h2>
        <app-text-input [formControl]="name" [label]='"Name"'></app-text-input>
        <app-text-input [formControl]="description" [label]='"Description"'></app-text-input>
        <app-date-input [formControl]="startDate" [label]='"Start Date"'></app-date-input>
        <app-date-input [formControl]="endDate" [label]='"End Date"'></app-date-input>
        @if(validationErrors.length > 0){
          <div class="row">
            <ul class="text-danger">
              @for(error of validationErrors; track error) {<li>{{error}}</li>}
            </ul>
          </div>
        }
        <div class="d-flex justify-content-center mt-5">
          <button [disabled]="!projectForm.valid" class="btn btn-outline-info btn-lg" style="margin-right: 7px;" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
