<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Chatting App</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if(userService.currentUser$ | async){
        <ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/comments" routerLinkActive="active">Comments</a>
          </li>
          <!-- <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Attachments</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/attachments" routerLinkActive="active">Attachments</a>
          </li>
        </ng-container>
      }
    </ul>
    @if((userService.currentUser$ | async); as user){
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome {{user.userName | titlecase}}</a>
        <ul class="dropdown-menu mt-3" *dropdownMenu>
          <li><a class="dropdown-item" routerLink="member/edit">Edit Profile</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    }
    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome</a>
      <ul class="dropdown-menu mt-3" *dropdownMenu>
        <li><a class="dropdown-item" routerLink="member/edit">Edit Profile</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
    @if(!(userService.currentUser$ | async)){
      <form #loginForm="ngForm" class="d-flex" (submit)="login()">
        <input name="username" [(ngModel)]="loginModel.userName" class="form-control me-2" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="loginModel.password" class="form-control me-2" type="password"
          placeholder="Password">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    }
  </div>
</nav>
