<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Task Management</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if(userService.currentUser$ | async){
        <ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/schedules" routerLinkActive="active">Schedules</a>
          </li>
          <li class="nav-item" *appHasRole="['Admin']">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
        </ng-container>
      }
    </ul>
    <!-- @if((userService.currentUser$ | async); as user){
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>
          <i class="fa fa-comments me-lg-2"></i>
          <span class="d-none d-lg-inline-flex">Comments</span>
        </a>
        <ul class="dropdown-menu mt-3 bg-dark" *dropdownMenu>
          <li><a class="dropdown-item text-secondary" routerLink="member/edit">Comment</a></li>
          <div class="dropdown-divider"></div>
        </ul>
      </div>
    } -->
    @if((userService.currentUser$ | async); as user){
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>
          <i class="fa fa-bell me-lg-2"></i>
          <span class="d-none d-lg-inline-flex">Notifications</span>
        </a>
        <ul class="dropdown-menu mt-3 bg-dark" *dropdownMenu>
          @if(!notifications || notifications.length == 0){
            <a class="dropdown-item text-light hover-dark">No notifications yet..</a>
          }
          @if(notifications && notifications.length > 0){
            <div class="d-flex justify-content-around">
              <button class="btn btn-lg btn-outline-danger fa fa-trash" title="Delete All" (click)="deleteAllNotifications()">
              </button>
              <button class="btn btn-lg btn-outline-success fa fa-check" title="Read All" (click)="readAllNotifications()">
              </button>
              <button class="btn btn-lg btn-outline-danger fa fa-close" title="Unread All" (click)="unreadAllNotifications()">
              </button>
            </div>
            <div class="dropdown-divider bg-light"></div>
            @for(notify of notifications; track notify.id){
              <li [ngClass]="{'bg-secondary': !notify.isRead}">
                <a class="dropdown-item text-light hover-dark">
                  {{notify.message}}
                  <button class="btn btn-sm btn-outline-danger fa fa-trash" (click)="deleteNotification(notify.id)" title="Delete">
                  </button>
                  <button class="btn btn-sm btn-outline-success fa fa-check" style="margin-left: 5px;" (click)="readNotification(notify.id)" title="Read">
                  </button>
                  <button class="btn btn-sm btn-outline-danger fa fa-close" style="margin-left: 5px;" (click)="unreadNotification(notify.id)" title="Unread">
                  </button>
                </a>
              </li>
            }
          }
        </ul>
      </div>
    }
    @if((userService.currentUser$ | async); as user){
      <div class="dropdown" dropdown style="margin-left: 30px;">
        <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>
          <i class="fa fa-user me-lg-2"></i>
          <span class="d-none d-lg-inline-flex">Welcome {{user.userName | titlecase}}</span>
        </a>
        <ul class="dropdown-menu mt-3 bg-dark" *dropdownMenu>
          <li><a class="dropdown-item text-warning fa fa-edit" routerLink="edit-user"> Edit Profile</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item text-danger fa fa-sign-out" (click)="logout()"> Logout</a></li>
        </ul>
      </div>
    }
    @if(!(userService.currentUser$ | async)){
      <form #loginForm="ngForm" class="d-flex" (submit)="login()">
        <input name="userName" [(ngModel)]="loginModel.userName" class="form-control me-2" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="loginModel.password" class="form-control me-2" type="password" placeholder="Password">
        <button class="btn btn-outline-light" type="submit">Login</button>
      </form>
    }
  </div>
</nav>

