<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom mt-4 mb-3">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="Check"
                width="60">
              <h2 class="my-4">My Tasks</h2>
            </div>
            <div class="d-flex justify-content-end mb-3">
              <button class="btn btn-lg btn-outline-success" routerLink="/add-task" title="New Task">
                <i class="fa fa-plus fa-lg"></i>
              </button>
            </div>
            <div class="rounded border overflow-hidden">
              <table class="table table-dark mb-0">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Due Date</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (task of tasks; track task.id){
                  <tr class="fw-normal">
                    <td class="align-middle">{{task.title}}</td>
                    <td class="align-middle">{{task.description}}</td>
                    <td class="align-middle">
                      @switch(task.priority){
                        @case ('Low') {
                          <h6 class="badge bg-success mb-0">{{task.priority}}</h6>
                        }
                        @case ('Medium') {
                          <h6 class="badge bg-warning mb-0">{{task.priority}}</h6>
                        }
                        @case ('High') {
                          <h6 class="badge bg-danger mb-0">{{task.priority}}</h6>
                        }
                        @default {
                          <h6 class="badge bg-secondary mb-0">{{task.priority}}</h6>
                        }
                      }
                    </td>
                    <td class="align-middle">
                      @switch(task.status){
                        @case ('Running') {
                          <h6 class="badge bg-success mb-0">{{task.status}}</h6>
                        }
                        @case ('Completed') {
                          <h6 class="badge bg-secondary mb-0">{{task.status}}</h6>
                        }
                        @default {
                          <h6 class="badge bg-secondary mb-0">{{task.status}}</h6>
                        }
                      }
                    </td>
                    <td class="align-middle">{{task.dueDate | date:'longDate'}}</td>
                    <div class="d-flex justify-content-end">
                      <td class="border-0 align-middle">
                        <button class="btn btn-outline-success me-2" title="Mark Completed" (click)="markTaskCompleted(task.id)">
                          <i class="fa fa-check"></i>
                        </button>
                        <button class="btn btn-outline-danger me-2" title="Mark Running" (click)="markTaskUncompleted(task.id)">
                          <i class="fa fa-close"></i>
                        </button>
                        <button class="btn btn-outline-info me-2" [routerLink]="['/task-details', task.id]" title="Details">
                          <i class="fa fa-info"></i>
                        </button>
                        <button class="btn btn-outline-primary me-2" [routerLink]="['/edit-task', task.id]" title="Edit">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger" title="Delete" (click)="deleteTask(task.id)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </div>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
