<div class="container">
  @if(!registerMode){
    <div class="text-light text-center" style="margin-top: 100px;">
      <h1 *appIsUser>Sign up to manage your tasks</h1>
      <div>
        <button *appIsUser class="btn btn-outline-info btn-lg" style="margin-right: 7px;" (click)="registerToggle()">Register</button>
        <button class="btn btn-outline-info btn-lg" routerLink="/learn-more">Learn more</button>
        <app-tasks></app-tasks>
      </div>
    </div>
  }
  @if(registerMode){
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-6">
          <app-register (CancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
      </div>
    </div>
  }
</div>
