<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="editForm" (submit)="editForm.valid && editUser()">
        <h2 class="text-uppercase text-center text-light mb-4" style="margin-top: 100px;">Edit an account</h2>
        <app-text-input [formControl]="name" [label]='"Name"'></app-text-input>
        <app-text-input [formControl]="userName" [label]='"Username"'></app-text-input>
        <app-text-input [formControl]="email" [label]='"Email"' [type]='"email"'></app-text-input>
        @if(validationErrors.length > 0){
          <div class="row">
            <ul class="text-danger">
              @for(error of validationErrors; track error) {<li>{{error}}</li>}
            </ul>
          </div>
        }
        <div class="d-flex justify-content-center mt-5">
          <button [disabled]="!editForm.valid" class="btn btn-outline-info btn-lg" style="margin-right: 7px;" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
